body { font-family: sans-serif; padding: 20px; background-color: #fcfcfc; }

.tabla-malla { border-collapse: collapse; width: 100%; margin-top: 20px; table-layout: fixed; }
.tabla-malla th, .tabla-malla td { border: 1px solid #ccc; padding: 5px; text-align: center; vertical-align: top; width: 12.5%; }
.tabla-malla th { background-color: #f4f4f4; font-size: 0.85em; }

.ramo { 
    padding: 8px; 
    border-radius: 6px; 
    cursor: pointer; 
    font-size: 0.7em; 
    margin-bottom: 5px;
    border: 1px solid #999;
    transition: background-color 0.3s ease;
}

/* COLORES */
.bloqueado { background-color: #e0e0e0; border-color: #bdbdbd; color: #757575; } /* Gris */
.disponible { background-color: #b3e5fc; border-color: #4fc3f7; color: #0277bd; } /* Celeste */
.aprobado { background-color: #d1c4e9; border-color: #9575cd; color: #4527a0; } /* Morado */
